*
  box-sizing border-box

html
  font-size 16px
  
body
  font-size 62.5%
  
.chart
  font-family helvetica, sans-serif

.js-code
  padding 5px 10px 10px
  font-family monospace
  background-color #eee
  
.nb-view
  max-height 300px
  overflow scroll
  box-shadow 0 0 7px #ccc inset
  padding 15px
  border-radius
  
.nb-view,
.js-code
  font-size 1.4em
  width 960px
  margin 10px auto
  border-radius 3px
  border 1px solid #ccc
  
.axis path,
.axis line 
  fill none
  stroke #000
  shape-rendering crispEdges

.x.axis path 
  display none

.line 
  fill none
  stroke #66c2a5
  stroke-width 1.5px
