*
  box-sizing border-box

html
  font-size 16px
  
body
  font-size 62.5%
  
.chart
  font-family helvetica, sans-serif

.js-code
  padding 10px
  font-family monospace
  background-color #eee
  border 1px solid #ccc
  border-radius 3px
  font-size 1.4em
  
.nb-view
  font-size 1.4em
  
.nb-view,
.js-code
  margin 10px auto
  width 960px
  
.axis path,
.axis line 
  fill none
  stroke #000
  shape-rendering crispEdges

.x.axis path 
  display none

.line 
  fill none
  stroke #66c2a5
  stroke-width 1.5px
